/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.overview-hero-image img{
    float: left;
}

.overview-hero-text{
    padding-left: 25%;
    padding-top: 2%;
    text-align: center;
}

.overview-hero-text p{
    text-align: left;
}

header .container{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
}
li{
    float: left;
    padding: 10px;
}

img{
    width: 280px;
    height: 200px;
}

.learn-about .container{
    padding-top: 4%;
}

.cards{
    display: grid;
    grid-template-columns: 35% 35% 35%;
}

